.close-box{
    max-height: 0;
    transition: max-height 0.5s;
}
.open-box{
    max-height: 100vh;
    transition: max-height 0.5s ;
}

/* //transition elements  */
.fade-enter{
    opacity: 0;
    z-index: 1;
}
.fade-enter.fade-enter-active{
    opacity: 1;
    transition: opacity 500ms ease-in;
}



/* Rotate an object or Text */
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }

  /* End Rotation of an Object */
  @-webkit-keyframes moving{
      from{
        margin-left: -10%;
      }
      to{
        margin-left: 10%;
      }
  }
  .moving {
    -webkit-animation: moving 5s alternate infinite;
    -moz-animation: moving 5s alternate infinite;
    -ms-animation: moving 5s alternate infinite;
    -o-animation: moving 5s alternate infinite;
    animation: moving 5s alternate infinite;
  }

  